body {
    font-family: 'arvo', serif;
    font-size: 1em;
    line-height: 1.75;
    color: var(--ac-secondary-txt-clr);
}

a {
    color: var(--ac-link-txt-clr);
}

h2 {
    text-align: center;
}

/****************/
/*   hero    	*/
/****************/

header > div:nth-of-type(1) {
    background-image: url('../images/animal-crossing/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    text-align: center;
    height: auto;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}

header > div:nth-of-type(1) > img:nth-of-type(2) {
    max-width: 175px
}

header > div:nth-of-type(1) > div {
    background-image: url('../images/animal-crossing/sign_2x.png');
    background-size: 115% 100%;
    background-position: 50% 50%;
    padding: 10px 25px 60px 25px;
    color: #fff;
    width: 100%;
    max-width: 300px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

header > div:nth-of-type(1) p {
    padding: 1em 0;
}

/****************/
/*   Birthday   */
/****************/

header > div:nth-of-type(2) {
   background-image: url(/images/animal-crossing/birthday-red_2x.jpg);
     /* -webkit-transform: translateY(-50%); 
     transform: translateY(-50%); 
     background-position: center top;  */

    background-size: 1em;
    width: 100%;
}

header > div:nth-of-type(2) > div {
   background-image: url(/images/animal-crossing/birthday-ribbon.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
} 
header > div:nth-of-type(2) img {
    max-height: 250px;
}

header > div:nth-of-type(2) > div > button:nth-of-type(1)::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-image: url(/assets/img/birthday/birthday-arrow.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center center;
}

/****************/
/*     News	    */
/****************/

main > section div:nth-of-type(1) {
    background-image: linear-gradient(-180deg, #fbbb37 0%, #fdd119 100%);
    padding-top: 80px;
}

main > section div:nth-of-type(1) div {
    background-image: url('../images/animal-crossing/triangles-yellow.png');
    background-repeat: repeat;
} 

/* main > section:nth-of-type(1) a {
    color: var(--ac-link-txt-clr);
    background-color: var(--ac-link-clr);
    padding-block: 7px 8px;
    font-size: 1.115rem;
    font-weight: bold;
    padding: 15px 45px;
    border-radius: 15px;
} */

main > section div:nth-of-type(1) > article {
    background-color: white;
    margin: 0 1.875em 1.5em 1.875em;
    padding: 24px 12px 15px 12px;
    border-radius: .5em;
    display: flex;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

main > section div:nth-of-type(1) > article time {
    color: var(--ac-news-date-clr);
    display: block;
    font-size: .9rem;
    padding: 0 10px .75em;
}

main > section div:nth-of-type(1) > article a h3 {
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 20px;
}

main > section div:nth-of-type(1) > article a span {
    color: var(--ac-link-clr);
    padding-top: .75em;
}

main > section div:nth-of-type(1) > article img {
    border-radius: .75em;
    width: 100%;
}

main > section div:nth-of-type(1) > article > a {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

/* section:nth-of-type(1) > article a {
    background-color: transparent;
    color: var(--ac-link-clr);
} */

/****************/
/*     Video    */
/****************/

main > section:nth-of-type(2){
    background-color: #fdd119;
}

main > section:nth-of-type(2) h3 {
    font-weight: bold;
    display: block;
    clear: both;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.125em;
    text-decoration: none;
}

.fancy-border:after{
    background-image: url('../images/animal-crossing/corner-left-top_2x.png'), 
    url('../images/animal-crossing/corner-right-top_2x.png'), 
    url('../images/animal-crossing/corner-left-bottom_2x.png'), 
    url('../images/animal-crossing/corner-left-right_2x.png');
    background-position: 0 0, 100% 0, 0 100%, 100% 100%;
    background-size: 53px 53px;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    right: 0;
    left: -10px;
    margin: auto;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    position: absolute;
}

/****************/
/*     Amiibo   */
/****************/

article:nth-of-type(3) ul li img {
    max-height: 100px;
    max-width: 100px;
}


h1, h2, h3 {
    font-family: 'Arvo', serif;
    padding: 0.65em 0 0.45em 0;
    line-height: 1.5;
}
h2, span  {
    color: var(--ac-secondary-txt-clr);
}

h2 {
    margin-bottom: 24px;
    font-size: 1.375rem;
    display: block;
    font-weight: bold;
}



@media (width <= 600px) {
	header {
		top: 0;
		z-index: 2;
	}

	/* header nav ul:nth-of-type(1) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-content: center;
		gap: 1em;
		padding: 4em;
		position: fixed;
		background-color: rgba(var(--header-clr), 0.95);
		transition: 1s;
		inset: 5em 0 0 0;
		translate: -100% 0;
		z-index: 1;
	}

	header nav ul:nth-of-type(1) li {
		background-color: var(--secondary-clr);
	}

	header nav.is-open ul {
		translate: 0 0;
		
	}
} */

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary-clr);
        padding: 1em;
        color: var(--secondary-text-clr);
        height: 3em;
    }   
}