@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}