/******************************/
/* 	     Slides section       */
/******************************/

main section:nth-of-type(1) ul { 
	display:flex;
	overflow-x:auto;
	scroll-snap-type:x mandatory;
	padding-inline:15%;
	scrollbar-color: grey black;
  	scrollbar-width: thin;
	
	/* @media (prefers-reduced-motion:no-preference) {
		scroll-behavior:smooth;
	} */
	
	anchor-name: --carousel;
}

main > section:nth-of-type(1) ul {
	padding-block: 2em 1em;
	background-color: var(--primary-text-clr);
  &::scroll-button(*) {
    position: static; 
    position-anchor: --carousel;
    position-visibility: always;
    font-family: "Material Symbols Outlined";
	width:3em;
	aspect-ratio:1/1;
	border-radius:50%;
	border:none;
	color:white;
	background-color:dodgerblue;
  }

  &::scroll-button(right) {
    position-area: bottom;
    content: '→' / 'Next';
		justify-self:end;
  }

  &::scroll-button(left) {
    position: static;
    content: '←' / 'Previous';
		justify-self:start;
  }
	
	&::scroll-button(*):disabled {
		background-color:grey;
	}
}

main > section:nth-of-type(1) ul li {
	flex-basis:70dvw;
	flex-shrink:0;
	scroll-snap-align:center;
	padding-inline: 4px;
	border-radius: .2em;

	
	filter:blur(4px);
	opacity:.7;
	transition:
    filter .3s ease,
    transform .3s ease,
    opacity .3s ease;
}

main section:nth-of-type(1) ul li.is-active {
  filter:none;
  opacity:1;
}

/* kleine fix, zodat je afbeeldingen netjes vullen */
main section:nth-of-type(1) ul img {
  display:block;
  width:100%;
  height:auto;
}

main > ul img {
	display:block;
}

/******************************/
/* 	          tabs            */
/******************************/


main > section:not(:first-of-type) > ul:nth-of-type(1){
	display: flex;
	align-items: center;
	background-color: var(--background-clr);
	border-radius: 1em;
	margin-bottom: 1em;
	padding: .6em .2em;
	max-width: max-content;
	gap: 1em;
	scroll-target-group: auto;
}
main > section:not(:first-of-type) > ul:nth-of-type(1) a:target-current {
	background-color: var(--secondary-clr);
	color: var(--primary-clr);
	padding: .5em 1em;
	border-radius: 1em;
  	cursor: default;
}

main > section:not(:first-of-type) > ul:first-of-type {
    
	
} 


/******************************/
/* 	     Updates section      */
/******************************/

#updatesUitgelicht > article{
	margin-bottom: .5em;
}

main > section:not(:first-of-type) article {
	
	display: block;
	border-radius: 0.3em;
	overflow: hidden; 
	background: var(--background-clr);
}

main > section:not(:first-of-type) article:not(:first-of-type)  {
	width: 100%;
  	height: 100%;
}

main > section:not(:first-of-type) > ul:nth-of-type(2) {
  list-style:none;
  display:flex;
  overflow-x:hidden;
}
main > section:not(:first-of-type) > ul:nth-of-type(2) li {
	flex-basis: 100%;
	flex-shrink: 0;
}


/******************************/
/* 	     Games section        */
/******************************/
main > section:nth-of-type(3) > div {
	overflow-x: auto;
	overscroll-behavior: contain;
	display: flex;
	flex-basis: 100%;
	overflow: scroll;

}

main > section:nth-of-type(3) > div article {
	min-width: 200px;
	margin-right: 1em;
	scroll-snap-align: center;
}

main > section:nth-of-type(3) > div article a {
	display: flex;
	flex-direction: column-reverse
}

main > section:nth-of-type(3) > div div {
	padding: 0.8em;
}
	
main section:nth-of-type(2) article > a > p {
display: none;
}

/* updates */
main > section:nth-of-type(2) > ul:nth-of-type(2) ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5em;
}

main > section:nth-of-type(2) > ul:nth-of-type(2) ul li {
	display: flex;
}

button:active {
	transform: scale(0.95);
}