


/****************/
/* JOUW STYLING */
/****************/

@media (width: 375px) {
	main {
		max-width: 95%;
		margin: 0 auto;
	}
	article > a > p {
		display: none;
	}
	/* section:nth-child(1) > ul:nth-child(1) {
		display: flex;
		flex-wrap: wrap;
	}
	section > ul > li {
		
	} */
	main ul:nth-of-type(2) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5em;
	 }

	 main ul:nth-of-type(2) li {
		margin-bottom: 1em;
	 }
	 main ul:nth-of-type(2) li h3 {
		max-height: 4em;
	 }
}
