/* Source: A11y | Hides the headings from view */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: var(--primary-clr);
	color: var(--text-clr);
}

h2 {
	margin-block: 1em 1em;
	font-family: 'Fira Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

h2::before {
	content: '';
	height: 0.9em;
	min-width: 0.15em;
	background-color: var(--secondary-clr);
	display:inline-block;
	margin-bottom: auto;
	margin-right: 0.2em; 
	border-radius: 0.5em;
}

h3 {
	font-family: 'Fira Sans', sans-serif;
	font-size: .9em;
	font-weight: regular;
	padding: 0.8em;
	font-weight: bold;
}

p {
	font-size: 8px;
}


img {
	max-height:100%; 
	max-width:100%
}

/****************/
/*   header 	*/
/****************/

@media (width <= 600px) {
	header {
		position: sticky;
		top: 0;
	}

	header nav ul:nth-of-type(1) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1em;
		padding: 4em;
		position: fixed;
		inset: 0;
		translate: -100% 0;
		transition: 1s;
	}

	header nav.is-open ul {
		translate: 0 0;
	}
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-clr);
	padding: 1em;
	color: var(--secondary-text-clr);
	height: 3em;
}

header nav button {
	width: 2.5em;
	aspect-ratio: 1/1;
	display: grid;
	justify-items: center;
	align-items: center;

	@media (width <= 600px) {
		position: relative;
		z-index: 1;
	}
}

header button span {
	display: block;
	width: 1.5em;
	height: .1em;
	background-color: var(--secondary-text-clr);
	grid-row-start: 1;
	grid-column-start: 1;
	transition: .25s;
}

button span:nth-of-type(1){
  translate: 0 -.3em;
}

button span:nth-of-type(3){
  translate: 0 .3em;
}

button.is-open span:nth-of-type(1){
  translate: 0 0;
  rotate: 45deg;
}

button.is-open span:nth-of-type(2){
 scale: 0 1;
}

button.is-open span:nth-of-type(3){
  translate: 0 0;
  rotate: -45deg;
}

header nav ul:nth-of-type(2) {
	display: flex;
	gap: 1em;
}

header nav ul:nth-of-type(2) a {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

header nav svg {
	fill: white;
}

main > section:not(:first-of-type) {
    max-width: 95%;
    margin: 0 auto;
}

main section > article:nth-of-type(1) {
	margin-bottom: 1em;
}

footer {
	background-color: var(--secondary-clr);
	color: var(--secondary-text-clr);
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 2em 1em;
	margin-top: 2em;
}

