body {
	font-family: 'Fira Sans', sans-serif;
	background-color: var(--primary-clr);
	color: var(--text-clr);
}

/* --- header & nav --- */


header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-clr);
	padding: 1em;
	color: var(--secondary-text-clr);
	height: 3em;
}

header button {
	width: 2.5em;
	aspect-ratio: 1/1;
	display: grid;
	justify-items: center;
	align-items: center;
}

header button span {
	display: block;
	width: 1.5em;
	height: .1em;
	background-color: var(--secondary-text-clr);
	grid-row-start: 1;
	grid-column-start: 1;
	transition: .25s;
}

button span:nth-of-type(1){
  translate: 0 -.3em;
}

button span:nth-of-type(3){
  translate: 0 .3em;
}

button.is-open span:nth-of-type(1){
  translate: 0 0;
  rotate: 45deg;
}

button.is-open span:nth-of-type(2){
 scale: 0 1;
}

button.is-open span:nth-of-type(3){
  translate: 0 0;
  rotate: -45deg;
}


nav ul:nth-of-type(2) {
	display: flex;
	gap: 1em;
}

/* Source: A11y | Hides the headings from view */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h2 {
	margin-top: 1em;
	font-family: 'Fira Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0.5em;
}

h2::before {
	content: '';
	height: 0.9em;
	min-width: 0.15em;
	background-color: var(--secondary-clr);
	display:inline-block;
	margin-bottom: auto;
	margin-right: 0.2em;
	border-radius: 0.5em;
}
h3 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 0.em;
	font-weight: regular;
	padding: 0.8em;
}

p {
	font-size: 8px;
}

main section > article:nth-of-type(1) {
	margin-bottom: 1em;
}

img {
	max-height:100%; 
	max-width:100%
}

article {
	display: block;
	border-radius: 5px;
	overflow: hidden; 
	/* background-color: #f5f6f7; */
	background: var(--background-clr);
}

[aria-label="active"] {
	background-color: var(--secondary-clr);
	color: var(--secondary-text-clr);
	padding: .5em 1em;
	border-radius: 1em;
	
}

main section ul:nth-of-type(1) {
	display: flex;
	align-items: center;
	background-color: var(--background-clr);
	border-radius: 1em;
	overflow: hidden;
	gap: 1em;

}

main section ul:nth-of-type(1) {
    margin-bottom: 1em;
} 

/* section:nth-of-type(1) ul:nth-of-type(1) li {
	
	cursor:pointer;
} */


@media (width <= 375px) {
	
	header {
		position: sticky;
		top: 0;
	}

	nav button {
		position: relative;
		z-index: 1;
	}

	nav ul:nth-of-type(1) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1em;
		padding: 4em;
		position: fixed;
		inset: 0;
		translate: -100% 0;
		transition: 1s;
	}
	
	nav.is-open ul {
		translate: 0 0;
	}
}