

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing: border-box;  
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
	text-decoration: none;
    background-color: inherit;  
    color: inherit;
    
}
