

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before { 
	margin: 0;
	padding: 0;
	border: 0;
	border-color: transparent;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
	text-decoration: none;
    background-color: inherit;  
    color: inherit;
	appearance: none;
	list-style-type: "";
}
