
/* Source: A11y | Hides the headings from view */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before { 
	margin: 0;
	padding: 0;
	border: 0;
	border-color: transparent;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
	text-decoration: none;
    background-color: inherit;  
    color: inherit;
	appearance: none;
	list-style-type: "";
	box-sizing: border-box;
	
}
