/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--text-clr:#111;
	--background-clr:#eee;
	--primary-clr: #fff;
	--sec-pad: 150px 0;
}





/****************/
/* JOUW STYLING */
/****************/

body {
	background-color: var(--background-clr);
	color: var(--text-clr);
}
