@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
	text-decoration: none;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--primary-text-clr:#111;
	--secondary-text-clr: #fff;
	--background-clr:#eee;
	--primary-clr: #fff;
	--secondary-clr: #e60012;
	--sec-pad: 150px 0;
}





/****************/
/* JOUW STYLING */
/****************/

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: var(--primary-clr);
	color: var(--text-clr);
}

h1 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 1px;
}
h2 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

h3 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background-color: var(--secondary-clr);
	color: var(--primary-text-clr);
	height: 3em;
}

nav ul {
	display: flex;
	gap: 1em;
}

@media (width: 375px) {
	
}