/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--white: #fff;
	--black:#111;

	/* Nintendo home */
	--background-clr:#f5f6f7;
	--stylization-clr: #e5e7eb;
	--primary-clr: #e60012;
	--sec-pad: 150px 0;
	--header-clr: 240, 240, 240;

	/* Animal Crossing home */
	--ac-secondary-txt-clr: #834B16;
	--ac-news-bg-clr: #FCC32C;
	--ac-link-txt-clr: #ffe46a;
	--ac-link-clr: #C4181F;
	--ac-news-date-clr: #36AFB6;
	--ac-play-clr: rgb(0, 210, 255);
	--ac-play-accent-clr: rgba(255, 255, 255, 0.5);
	--ac-camp-heading-clr: #004d0f;
	--ac-camp-text-clr: #464646;
	--ac-play-bg-clr: #fdfdea;
	--ac-footer-btn-clr: #FDD10A;
	--ac-footer-btn-hover: #FFE46A; 
	--ac-hover:#961115;
		/* #ac000d */
}

